/* CSS Document */
#mommy{

	display: -webkit-box;
	-webkit-box-orient:horizontal;
	width:1000px;
	-webkit-box-pack:center;
	height:500px;
	-webkit-box-align:stretch;
	background: #E0E0E0;
	-webkit-border-radius:0px;
	border-radius: 0px 0px 25px 25px;
	
	
}
#forms{
	padding:10px;
	margin:10px;
	-webkit-transform:translate(0px,50px);
	-moz-box-shadow: 0 0 3px #212121;
	-webkit-box-shadow: 0 0 3px #212121;
	box-shadow: 0 0 3px #212121;
	text-align: justify;
	
	-webkit-border-radius:25px;
	
}
.container{
	background-image: url(../assets/cover.jpg) ;
	background-position-y: 27%;
	background-position-x: 33%;	
	-webkit-border-radius:25px;
	padding-left: 20%;
	padding-right: 20%;
	padding-top: 0px;
	background-color: #ccc;
	padding-bottom: 20px;
	text-align: justify;
	line-height: 2;
	width: 60%;
}
 

#kid1{
    
	background: #E0E0E0;
	padding:20px;
	margin:10px;
	-webkit-border-radius:25px;
	-webkit-box-flex:1;
	
}
#kid2{
	
	background:#E0E0E0;
	padding:20px;
	margin:10px;
	-webkit-box-flex:1;
	-webkit-border-radius:25px;
	
	
}
#login{
	text-align:right;
}

*{
	margin:0px;
	padding:0px; 
}
h1{
	font:bold 20px tahoma;
}
h2{
	font:bold 14px tahoma;
}
#mylabels{

}
header,section,footer,aside,nav,hgroup,article{
	display:block;
}
body{
	width:100%;
	display:-webkit-box;
	-webkit-box-pack:center;
	
}
#loginbutton{
	padding:10px;
	margin:10px;
	-webkit-border-radius:5px;
	-moz-box-shadow: 0 0 3px #212121;
	-webkit-box-shadow: 0 0 3px #212121;
	box-shadow: 0 0 3px #212121;
	cursor:pointer;
	
}

#top_header{
	
	border-radius: 25px 25px 0px 0px;
	background: #616161;
	padding:20px;
	
}
#mylabels{
	padding:10px;
	margin:10px;
	text-align:right;
}
#inputField{
	padding:10px;
	margin:10px;
	text-align:left;
}
#big_wrapper{
	border:1px solid black;
	
	-webkit-border-radius:25px;
	width:1000px;
	margin:20px auto;
	text-align:left;
	text-align:center;
}