/* CSS Document */

.container {
	box-sizing: border-box;
    margin: auto;
    width: 80%;
    overflow: hidden;
    

}
/* Style the header */
header{
    
    background-color: #666;
	border-radius: 25px 25px 0px 0px;
    padding: 30px;
    text-align: center;
    overflow: hidden;
    color:black;
    min-height: 45px;
}
header .headertitle{
    float: left;
}
header .profile{
    float :right;
}

aside .container{
    overflow: hidden;
    float: left;
    width: 20%;
    min-height: 700px; 
    background-color: #ccc;
    padding: 10px; 
    text-decoration: none;
} 
.article .container h1{
    margin: 0px;
    padding: 0px;
    
}
.article .container{
    line-height: 2;
}
.container form{
    
    padding:0px;
	
	
	text-align:left;
    
    
    
}

.container table{
    
    margin-left: 10px;
    padding-left: 0px;
    transform:translate(0px,50px);
	
	
	box-shadow: 0 0 3px #212121; 
    border-radius:25px;
    
    
}

 .profile ul li{
    position: relative;
    display: inline;
    text-decoration: none;
    

}
.profile ul li a:hover {
    background-color: #555;
    color: white;
    border: 2px #bbb ;
}
img:hover .drop-down{
    border: 10px solid black;
    display: block;
}

.myavatar:hover .drop-down{
    visibility: visible;
}
.toleft:hover .drop-down{
    background-color: aqua;
    visibility: visible;
}


.drop-down {
    visibility: hidden;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;

}
#top_header{
    padding-top: 20px;
}

nav a{
    text-decoration: none;
    text-transform: uppercase;
    color: #000000;
}

section .article{
    padding: 30px;
    
    min-height: 700px;
    background: #f1f1f1;;
}
textarea{
    padding:10px;
	width: 600px;
    text-align:left;
    overflow-y: scroll;
    height: 200px;
    max-height: 400px; 
}
section .container form .display{
    float: none;
}
    #myavatar{
        margin: 5px;
        padding: 0px;
       background-size: contain;
       height: 150;
       width: 150;
       -webkit-border-radius:50px;
    }
    #mylabels{
        padding:10px;
        margin:10px;
        text-align:right;
    }
    #inputField{
        overflow: auto;
        float: left;
        padding:10px;
        margin:10px;
        text-align:left;
    }
/* Create two columns/boxes that floats next to each other */
.nav {
   
}

/* Style the list inside the menu */



/* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */
@media (max-width: 600px) {
    header .headertitle, .profile, nav li {
        float: none;
        text-align: center;
        width: 100%;
    }
    body{
        float: none;
    }
    li{
        display: inline;
    }
    header .profile .container nav ul{
        float: none;
        display: inline;
    }
    .container nav ul{
        background-color: #ccc;
    }
     nav li {
       
       
        display: inline;
       }
       .wrapper{
           display: block;
       }
       .container table{
           float: none;
           overflow-x: scroll;
           overflow-y: scroll;
           width: 200px;
           
        
       }
} 

.rows{

    border: 2px #ccc;
    background-color: white;
	overflow: auto;
}

table {
	display: -webkit-flex;
            width: 80%;
            
            float: none;
            border :#000000;
            -webkit-flex-flow: row wrap;
            overflow-y: scroll;
            
}
th .col1{
    width: 5%;
}
.col1  {
    width: 5%;
    
}
.col2{
	width: 10%;
}
.col3{
	width: 40%;
}
.col4{
	width: 30%;
}
.articleheader{
	font-style: oblique;
    display: flex;
    
	
}


 tbody{
	overflow-x: scroll;
	height: 500px;
	width: 100%;
	line-height: 2.0;
	
	
  }

  
  
  
  #loginbutton{
	padding:10px;
	margin:10px;
	border-radius:5px;
	
	
	box-shadow: 0 0 3px #212121;
	cursor:pointer;
	
}