/* CSS Document */

/* CSS Document */
#mommy{
	border:2px solid #212121;
	display: -webkit-box;
	-webkit-box-orient:horizontal;
	width:auto;
	-webkit-box-pack:center;
	height:auto;
	-webkit-box-align:stretch;
	
	
}
#act{
	text-align:center;
	-webkit-box-flex:3;
}
#timeEntry{
	text-align:center;
	-webkit-box-flex:1;
}
#record{
	text-align:center;
	-webkit-box-flex:4;
}
#entrytab{
	display:-webkit-box;
	width:100%;
}
#kid2header{
	display: -webkit-box;
	-webkit-box-orient: horizontal;
	padding:10px;
}
#EntryNo{
	
	
	padding:10px;
	
}
#sidebar{
    display: -webkit-box;
	-webkit-box-orient: horizontal;
}
#toleft{
	-webkit-transform:translate(600px,0px);
}
#tocenter{
	-webkit-transform:translate(200px,0px);
}

#kid1{
	border: 2px solid#757575;
	background:#424242;
	padding:10px;
	-webkit-box-flex:1;
}
#kid2{
	border: 2px solid d;
	background: #eeeeee;
	padding:10px;
	-webkit-box-flex:4;
	
}
#entrytab{
	border:2px solid black;
}
#outputField{
	border:1px solid #999999;
}
#myavatar{
 	height:45px;
	width:45px;
	
	-webkit-border-radius:50px;
}
#te{

    float: center;
}

#myavatar1{
 	height:45px;
	width:45px;
	float: left;
	-webkit-border-radius:50px;
}
#online1{
	-webkit-transform:translate(1100px,-40px);
	
}
#online{
	-webkit-transform:translate(-40px,-40px);
	
}
#login{
	text-align:right;
}

*{
	margin:0px;
	padding:0px; 
}
h1{
	font:bold 20px tahoma;
}
h2{
	font:bold 14px tahoma;
}
#mylabels{

}
header,section,footer,aside,nav,hgroup,article{
    display:block;
    text-align: left;
}
body{
	width:100%;
	display:-webkit-box;
	-webkit-box-pack:center;
	text-align:center;
}
#loginbutton{
	padding:10px;
	margin:10px;
	-webkit-border-radius:5px;
	
	cursor:pointer;
	
}

#top_header{
	background:solid #212121;
	border:1px solid #212121 ;
	padding:20px;
	display:-webkit-box;
	-webkit-box-orient:horizontal;
}
#mylabels{
	padding:10px;
	margin:10px;
	text-align:right;
}
#inputField{
	padding:10px;
	margin:10px;
	text-align:left;
}
#big_wrapper{
	border:1px solid black;
	width:100%;
	text-align:center;
	