#kid2{
	
	background:#E0E0E0;
	padding:20px;
	margin:0px;
	-webkit-box-flex:1;
	-webkit-border-radius:25px;
	overflow-y: scroll;
    
    height: 600px;
}
textarea{
    padding:10px;
	margin:10px;
    text-align:left;
    overflow-y: scroll;
    height: 200px;
    max-height: 400px; 
}
#loginbutton{
	padding:10px;
	margin:10px;
	-webkit-border-radius:5px;
	-moz-box-shadow: 0 0 3px #212121;
	-webkit-box-shadow: 0 0 3px #212121;
	box-shadow: 0 0 3px #212121;
	cursor:pointer;
	
}
#mylabels{
	padding:10px;
	margin:10px;
	text-align:right;
}
#inputField{
    overflow: auto;
    float: left;
	padding:0px;
	margin:10px;
	text-align:left;
}
#forms{
	padding:10px;
	margin:10px;
	-webkit-transform:translate(0px,50px);
	-moz-box-shadow: 0 0 3px #212121;
	-webkit-box-shadow: 0 0 3px #212121;
	box-shadow: 0 0 3px #212121;
	text-align:center;
	-webkit-border-radius:25px;
	
}
.article{
    height: auto;
}